.sil_main_title{
  background-color: #42a7df;
}
.sil_main_title h2{
  font-size: 20px;
  color: #ffffff;
  font-family: "Arial";
  padding: 10px;
}
.sil_main_data{}
.sil_main_data label{
  font-size: 13px;
  font-weight: lighter;
}
.sil_main_data .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    color: #6a6a6a;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #e4f5ff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
p{
  margin: 0;
  padding: 0;
}
.sil_list_item{
  font-size: 13px;
  padding: 3px;
  display: block;
  color: #5f5f5f;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.sil_list_item:hover{
  background-color: #f4f4f4;
}
.sil_list_item .row{
  padding: 3px;
}

.sil_list_item .row:hover{
  font-weight: bold;
  display: block;
}
.sis_observado_bg{
  background-color: #f2dede;
}
/*Indentacion*/
.level_1 p{
  font-weight: bold;
}
.level_1 .number{
  margin-right: 20px;
  margin-left: 20px;
}
.level_2 p{
  font-weight: lighter;
}
.level_2 .number{
  margin-right: 20px;
  margin-left: 50px;
}
.sil_check{
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px
}
.sil_check_editado{
  background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.sil_check_pendiente{
  background-image: -webkit-linear-gradient(top,#f0ad4e 0,#eb9316 100%);
  background-image: -o-linear-gradient(top,#f0ad4e 0,#eb9316 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f0ad4e),to(#eb9316));
  background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
 .sil_modal_description textarea,
 .sil_modal_objetivos textarea,
 .sil_modal_bibliografia textarea,
 .sil_modal_bibliografia_obligatoria textarea,
 .sil_modal_metodologia textarea,
 .sil_modal_estrategia textarea,
 .sil_modal_actividades textarea{
   margin-bottom: 10px;
 }
 .modal-body>.alert{
   font-size: 13px;
   padding: 5px 15px!important;
   font-style: italic;
 }
.modal h4{
  color:#1d97c3;
}
.modal h5{
  font-size: 15px;
  color: #42a7df;
}
.width{
  width: 20%;
}
.m-l{
    margin-left: 10px;
}
 /*Botones*/
.sil_btn{
  padding: 10px 15px 10px 50px;
  background: transparent;
  border: none;
  border-radius: 5px;
  background-color: #ededed;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  color: #ffffff;
}
.sil_btn.sil_btn_guardar,
.sil_btn.sil_btn_agregar,
.sil_btn.sil_btn_enviar,
.sil_btn.sil_btn_aprobar{
  background-color: #42a7df;
  border-bottom: 4px solid #2d769e;
  transition: all 0.1s ease-in-out;
  position: relative;
  bottom: 0px;
}
.sil_btn.sil_btn_guardar:hover,
.sil_btn.sil_btn_agregar:hover,
.sil_btn.sil_btn_enviar:hover,
.sil_btn.sil_btn_aprobar:hover{
  background-color: #348fc1;
  border-bottom: 4px solid #225f80;
}
.sil_btn.sil_btn_guardar:active,
.sil_btn.sil_btn_agregar:active,
.sil_btn.sil_btn_enviar:active,
.sil_btn.sil_btn_aprobar:active{
  border-bottom: 0px solid #225f80;
  bottom: -5px;
}
.sil_btn.sil_btn_guardar:focus,
.sil_btn.sil_btn_agregar:focus,
.sil_btn.sil_btn_enviar:focus,
.sil_btn.sil_btn_aprobar:focus,
.sil_btn.sil_btn_cancelar:focus{
  outline: 0px;
}

.sil_btn.sil_btn_guardar{
  background-position: 0 -46px;
}
.sil_btn.sil_btn_agregar{
  background-position: 0 0px;
}
.sil_btn.sil_btn_enviar{
  background-position: 0 -165px;
}
.sil_btn.sil_btn_aprobar{
  background-position: 0 -127px;
}
.sil_btn.sil_btn_cancelar{
  background-color: #2d769e;
  border-bottom: 4px solid #15445e;
  background-position: 0 -88px;
  position: relative;
  bottom: 0px;
}
.sil_btn.sil_btn_cancelar:hover{
  background-color: #225c7c;
  border-bottom: 4px solid #0f3042;
  transition: all 0.1s ease-in-out;
}
.sil_btn.sil_btn_cancelar:active{
  border-bottom: 0px solid #0f3042;
  bottom: -5px;
}
/*Footer*/
.sil_footer{
  margin-top: 20px;
}
/*Tablas*/
.modal-body table tbody tr th{
  background-color: #2d769e;
  color: #ffffff;
  font-weight: lighter;
  font-size: 13px;
}
.modal-body table tbody tr td{
  font-size: 12px;
}
/*Colores*/
.sil_color_blue{
  color: #2d769e;
}
.sil_observar{
  padding: 1px 20px 1px 1px;
  text-align: right;
}
